! __  __
! \ \/ /_ __ ___  ___  ___  _   _ _ __ ___ ___  ___
!  \  /| '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
!  /  \| | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \
! /_/\_\_|  \___||___/\___/ \__,_|_|  \___\___||___/
!========================= Rofi Config By: b14ckr41n

! ############
! # based on #
! # blackcat #
! #  night   #
! ############

*background:   #121212
*foreground:   #E8E8E8

! BLK
*color0:       #141212
*color8:       #404040

! RED
*color1:       #EC5C5C
*color9:       #EC5C5C

! GRN
*color2:       #5CF577
*color10:      #5CF577

! YLW
*color3:       #F9EB3D
*color11:      #F9EB3D

! BLU
*color4:       #0286D5
*color12:      #0286D5

! MAG
*color5:       #807DB6
*color13:      #807DB6

! CYN
*color6:       #60CFE6
*color14:      #60CFE6

! WHT
*color7:       #FEFEFE
*color15:      #FEFEFE

! === rofi ===

rofi.modi:                           window,ssh
rofi.sidebar-mode:                   true
rofi.terminal:                       alacritty
rofi.ssh-client:                     ssh
rofi.run-shell-command:              {terminal} -e zsh -c "{cmd}"
rofi.ssh-command:                    {terminal} -e "{ssh-client} {host}"
rofi.opacity:                        100

rofi.color-enabled:                  true
rofi.scroll-method: 	             false
rofi.hide-scrollbar: 	             true

!                  Background   Foreground  Background Alternate    Highlight Background    Highlight Foreground
rofi.color-window: #BB000000,   #BB000000,  #BB000000
rofi.color-normal: #00000000,   #AADEDEDE,  #00000000,              #00000000,              #AA1793D1
rofi.color-active: #00000000,   #AADEDEDE,  #00000000,              #00000000,              #AAFF0000
rofi.color-urgent: #00000000,   #CCDEDEDE,  #00000000,              #00000000,              #AAFF0000

rofi.levenshtein-sort: 		true
rofi.matching: 	   	        fuzzy
rofi.separator-style:       none
rofi.font:			        TerminessTTF Nerd Font Mono 13
rofi.lines:			        5
rofi.width: 			    100
rofi.padding:			    300
rofi.fullscreen:		    true

vim: set filetype=xdefaults :
                                                  
