['Desktop', 'Entry', 'Encoding', 'Categories', 'Java', 'Network', 'FileTransfer', 'Comment', 'Multimedia', 'Bittorrent', 'Client', 'Exec', 'vuze', 'extreme', 'GenericName', 'Icon', 'MimeType', 'application', 'bittorrent', 'scheme', 'handler', 'magnet', 'Name', 'Vuze', 'Extreme', 'Type', 'Application', 'StartupWMClass']
